<h1>Editing Playlist</h1>

<%= render 'form', playlist: @playlist %>

<%= link_to 'Show', @playlist, class: "btn btn-outline-secondary btn-sm", style: "color:magenta" %> |
<%= link_to 'Back', playlists_path, class: "btn btn-outline-secondary btn-sm", style: "color:orange" %>
